<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/icons/bootstrap-icons.css" />
  </head>
  <body>
    <div class="container">
      <!-- <i class="bi bi-person"></i> -->
      <div class="d-flex justify-content-between">
        <span>ゲストさん</span>
        <span>2024/9/20 8:33</span>
      </div>
      <h5>＊＊＊のグッズが欲しい</h5>
      <h5>9月20日に開催されるフェスのグッズが欲しい…</h5>
      <div class="d-flex justify-content-evenly">
        <i class="bi bi-house-door">福岡</i>
        <p  style="margin-left: -95px;"></p>
        <i class="bi bi-shop">東京</i>        
        </p>
      </div>
      <div class="d-flex justify-content-evenly">
        <p style="font-size: 13px;".><i >HOME</i></p><p %= yourVariable %></p>
        <p  style="margin-left: -165px;"></p>
        <p style="font-size: 13px;".><i>SHOP</i></p><p %= yourVariable %></p>
    </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
