<!-- Footer -->
<footer class="fixed-bottom px-4">
  <div class="d-flex justify-content-between">
    <i class="bi bi-house-door" style="font-size: 2rem"></i>
    <i class="bi bi-plus" style="font-size: 2rem"></i>
    <i class="bi bi-chat-dots" style="font-size: 2rem"></i>
  </div>
</footer>
