<style>
  .bg-blue {
    background-color: #84c9ef !important;
  }

  body {
    padding-top: 70px; /* ここにヘッダー分のスペースを追加した */
  }
</style>
<!-- Header -->
<header class="bg-blue px-3 py-2 fixed-top">
  <div class="d-flex justify-content-between align-items-center">
    <!-- 左側のマイページのアイコンのとこ -->
    <i class="bi bi-person-circle" style="font-size: 2rem"></i>
    <!-- ヘッダーの真ん中のロゴがくるところ -->
    <div class="rounded-circle bg-dark" style="width: 2rem; height: 2rem"></div>
    <div style="width: 2rem; height: 2rem"></div>
  </div>
</header>
