<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/color.css" />
  </head>
  <body>
    <div
      class="container d-flex justify-content-center flex-column text-center"
    >
      <h1 class="my-4">アプリ名</h1>
      <p class="my-4">ー[アプリ名]とはー</p>
      <p class="my-4">
        ・旅行<br />
        ・長距離の移動<br />
      </p>
      <p class="my-4">
        などをする方々が<br />
        ついでに荷物を運んでくれる<br />
        サービスです！<br />
      </p>
      <p class="my-4">もちろんあなたが運ぶ側にも！</p>
      <a
        class="btn btn-primary rounded-pill mx-auto my-4 bg-main-color"
        href="#"
        role="button"
        >使ってみる</a
      >
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
