<html lang="en"></html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/icons/bootstrap-icons.css" />
</head>
<div class="d-flex justify-content-evenly">
  <div class="d-flex align-items-center">
    <div class="d-flex-flex-column">
      <p class="fs-2">新規登録</p>
      <p class="text-truncate"></p>
      <p class="fw-bold mb-2">ユーザーネーム:</p>
      <span><input type="text" name="name" /></span>
      <p class="text-truncate"></p>
      <p class="fw-bold mb-2">メールアドレス:</p>
      <span><input type="text" name="mail" /></span>
      <p class="text-truncate"></p>
      <p class="fw-bold mb-2">パスワード:</p>
      <span><input type="password" name="password" /></span>
      <div class="d-grid gap-2 col-6 mx-auto"></div>
      <p class="fw-bold my-3">
        <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">登録</button>
        </div>
      </p>
      <p>
        <a class="link-opacity-100" href="#">アカウントをお持ちの方はこちら</a>
      </p>
    </div>
  </div>
</div>
