<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/color.css" />
  </head>
  <body>
    <p>新規登録成功</p>
    <a href="/home">タイムラインを見る</a>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>

  <script>
    const user = JSON.parse('<%- JSON.stringify(user) %>')
    localStorage.setItem('user', JSON.stringify(user))
  </script>
</html>
